<body class="user-main">
  <div class="user-main__content">
    <div class="container">
      <h3>ユーザー情報の編集</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.label "プロフィール" %>
          <div class="profile-wrapper">
            <div class="profile form-parts form-group">
              <label class="profile__image" for="avatar-field">
                <% if current_user.avatar? %>
                  <%= image_tag "#{current_user.avatar}", class: "wrapper__user--avatar", id: "avatar-prev", size: "100x100" %>
                <% else %>
                  <%= image_tag "camera.png", class: "wrapper__user--avatar", id: "avatar-prev", size: "100x100" %>
                <% end %>
              </label>
              <%= f.file_field :avatar, class: "profile__image--field", id: "avatar-field" %>
              <%= f.text_field :name, class: "profile__name form-control", placeholder: "Enter your name" %>
            </div>
            <% if current_user.avatar? %>
              <div class="profile__image__destroy">
                <%= f.check_box :remove_avatar, class: "profile__image__destroy--checkbox" %>
                <span class="profile__image__destroy--text">画像を削除する</span>
              </div>
            <% end %>
          </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-parts form-group">
          <%= f.label "新しいパスワード（変更する場合のみ）" %>
          <%= f.password_field :password, class: "form-control", placeholder: "New Password", autocomplete: "new-password" %>
        </div>

        <div class="form-parts form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "One more…", autocomplete: "new-password" %>
        </div>

        <div class="form-parts form-group">
          <%= f.label "現在のパスワード" %><br />
          <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password", autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "更新する", class: "btn btn-primary btn btn-block" %>
        </div>
      <% end %><br>

      <%= button_to "アカウントの削除", registration_path(resource_name), class: "btn btn-danger btn-block", data: { confirm: "アカウントを削除してよろしいでしょうか？" }, method: :delete %>

      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</body>
