<body class="wrapper">
  <div class="wrapper__user">
    <% if @user.avatar.present? %>
      <h3><%= image_tag "#{@user.avatar}", class:"wrapper__user--abatar", size: "40x40" %>
    <% else %>
      <h3><%= image_tag "user-image.png", size: "40x40" %>
    <% end %>
      ＜<%= @user.name %>＞
        <span id="user_<%= @user.id %>" class="d-inline-flex">
          <%= render 'follow_form', user: @user if signed_in? %>
        </span>
      </h3>
    <%= render 'stats' %><br>
    <h5>いいね！した投稿</h5>
      <% @like.each do |log| %>
        <%= render partial: 'logs/card', locals: { log: log } %>
      <% end %>
      <%= paginate(@like) %>
  </div>
  <%= render 'layouts/sidebar' %>
</body>
