<br><h3>＜<%= @name %>＞投稿一覧</h3><br>
  <% @log.each do |log| %>
    <%= render partial: 'logs/log', locals: { log: log } %>
  <% end %>
<%= paginate(@log) %>

<span id="user_<%= @user.id %>" class="follow-wrapper">
    <%= render partial: 'follow_form', locals: { user: @user } if signed_in? %>
</span>
<h4>
  <%= render 'stats' %>
</h4>