<div class="user-form">
  <%= image_tag "tennis-login.jpeg", size: "720x635" %>
  <div class="user-form__main"><br>
    <h1>ログイン</h1>

    <div class="container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-parts form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", placeholder: "Your email", autocomplete: "email" %>
        </div>

        <div class="form-parts form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control", placeholder: "Your Password", autocomplete: "current-password" %>
        </div><br>

        <div class="actions">
          <%= f.submit "ログインする", class: "btn btn-primary btn btn-block" %>
        </div>
      <% end %><br>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
