<div class="container">
  <br><h1>ログイン</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
    </div><br>

    <div class="actions">
      <%= f.submit "ログインする", class: "btn btn-primary btn btn-block" %>
    </div>
  <% end %><br><br>

  <%= render "devise/shared/links" %>
</div>
