<%= form_with model: @log, local: true do |f| %>
  <div class="form-left">
    <%= f.label "練習日" %><br>
      <div class="form-left__day input-group date" id="datetimepicker4" data-target-input="nearest">
        <%= f.text_field :practice_day, class: "datetimepicker-input form-control text-center" %>
          <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
          </div>
      </div>
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker4').datetimepicker({
              format: 'L'
          });
        });
      </script>
    <div class="form-left__times">
      <%= f.label "練習時間（分）" %>
      <%= f.label "サーブ" %>
      <%= f.text_field :serve, style: "text-align: right;" %><br>
      <%= f.label "スマッシュ" %>
      <%= f.text_field :smash, style: "text-align: right;" %><br>
      <%= f.label "ボレー" %>
      <%= f.text_field :volley, style: "text-align: right;" %><br>
      <%= f.label "ストローク" %>
      <%= f.text_field :stroke, style: "text-align: right;" %><br>
      <%= f.label "ゲーム形式" %>
      <%= f.text_field :game, style: "text-align: right;" %>
    </div>
  </div>

  <div class="form-right">
    <%= f.label "テニスノート（練習メモ）" %><br>
    <%= f.text_area :text, rows: 19, cols: 65 %><br>
    <%= f.file_field :image %>
    <%= f.submit "記録する", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>