<div class="form-wrapper">
  <div class="form-wrapper__log-form">
    <%= form_with(model: @log, id: "log-form", local: true) do |f| %>
      <div class="form-upper">
        <div class="form-upper__left">

          <div class="form-upper__left__day">
            <%= f.label "練習日" %>
              <div class="input-group" id="datetimepicker4" data-target-input="nearest">
                <%= f.text_field :practice_day, class: "datetimepicker-input form-control text-center", autocomplete: "off" %>
                  <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                  </div>
              </div>
              <script type="text/javascript">
                $(function () {
                  $('#datetimepicker4').datetimepicker({
                      format: 'L'
                  });
                });
              </script>
            <div id="log_practice_day_error"></div>
          </div>

          <div class="form-upper__left__times">
            <%= f.label "練習時間（分）" %>
              <div class="form-upper__left__times__total">合計
                <% if current_page?(new_log_path) %>
                  <span class="form-upper__left__times__total--minutes">0</span>
                <% else %>
                  <span class="form-upper__left__times__total--minutes"><%= @practice.sum %></span>
                <% end %>
                <span class="form-upper__left__times__total--unit">分</span>
              </div>
              <div class="form-upper__left__times__wrap">
                <%= f.label "サーブ", class: "form-upper__left__times__wrap__list" %>
                <%= f.text_field :serve, class: "form-upper__left__times__wrap__list--field", autocomplete: "off" %>
              </div>
              <div class="form-upper__left__times__wrap">
                <%= f.label "スマッシュ", class: "form-upper__left__times__wrap__list" %>
                <%= f.text_field :smash, class: "form-upper__left__times__wrap__list--field", autocomplete: "off" %>
              </div>
              <div class="form-upper__left__times__wrap">
                <%= f.label "ボレー", class: "form-upper__left__times__wrap__list" %>
                <%= f.text_field :volley, class: "form-upper__left__times__wrap__list--field", autocomplete: "off" %>
              </div>
              <div class="form-upper__left__times__wrap">
                <%= f.label "ストローク", class: "form-upper__left__times__wrap__list" %>
                <%= f.text_field :stroke, class: "form-upper__left__times__wrap__list--field", autocomplete: "off" %>
              </div>
              <div class="form-upper__left__times__wrap">
                <%= f.label "ゲーム形式", class: "form-upper__left__times__wrap__list" %>
                <%= f.text_field :game, class: "form-upper__left__times__wrap__list--field", autocomplete: "off" %>
              </div>
          </div>

          <div class="form-upper__image-content">
            <label class="form-upper__image-field" for="log_image">
              <% if @log.image? %>
                <%= image_tag "#{@log.image}", id: "image-field", size: "275x275" %>
              <% else %>
                <%= image_tag "camera.png", id: "image-field", size: "275x275" %>
              <% end %>
            </label>
            <%= f.file_field :image, class: "form-upper__image-field--input" %>
            <% if @log.image? %>
              <%= f.check_box :remove_image, class: "form-upper__image-field--checkbox" %>
              <span class="form-upper__image-field--destroy">画像を削除する</span>
            <% end %>
          </div>
        </div>

        <div class="form-upper__right">
          <%= f.label "テニスノート（練習メモ）" %>
          <%= f.text_area :text, class: "form-upper__right--textarea" %>
        </div>
      </div>

      <div class="form-lower">
        <div class="form-lower__status">
          <%= f.label "練習記録の公開・非公開を選択" %>
          <%= f.select :status, [["公開する", "0"],["公開しない", "1"]], {}, class: "form-lower__status--select" %>
        </div>

        <% if current_page?(new_log_path) %>
          <%= f.submit "記録する", class: "submit-btn btn-lg btn-primary" %>
        <% else %>
          <%= f.submit "更新する", class: "submit-btn btn-lg btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'layouts/sidebar' %>
