<body> 
  <p>Tennis Practice Plusは日々の練習を記録して共有し、練習内容について、ユーザー同士で意見交換し合えるアプリです。</p>
  <p>日頃の積み重ねを可視化する事で、モチベーションにも繋がります。</p>
  <p>日々の練習をより濃いものとし、ライバルに差を付けましょう！</p>
  <br>
  <ul>
    <% @log.each do |log| %>
      <p>サーブ<%= log.serve %>分</p>
      <p>スマッシュ<%= log.smash %>分</p>
      <p>ボレー<%= log.volley %>分</p>
      <p>ストローク<%= log.stroke %>分</p>
      <p>ゲーム形式<%= log.game %>分</p>
      <p><%= log.text %></p>
      <p><%= image_tag log.image.to_s %></p>
      <p><%= log.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <% if user_signed_in? && log.user_id == current_user.id %>
        <%= link_to "詳細", log_path(log.id), method: :get, class: "btn btn-success" %>
        <%= link_to '編集', "/logs/#{log.id}/edit", method: :get, class: "btn btn-success" %></li>
        <%= link_to '削除', "/logs/#{log.id}", method: :delete, class: "btn btn-success" %></li>
      <% end %>
    <% end %>
  </ul>
  <%= paginate(@log) %>
</body>