<% unless user_signed_in? %>
  <div class="main-info">
    <%= image_tag "tennis-image.jpg", size: "1440x395" %>
    <pre class="main-info__text">
      Tennis Notesは日々の練習を記録して共有し、
      練習内容について、ユーザー同士で意見交換し合えるアプリです。
      日頃の積み重ねを見える化する事で、モチベーションにも繋がります。
      日々の練習をより濃いものとし、ライバルに差を付けましょう！
    </pre>
  </div>
<% end %>

<div class="wrapper">
  <div class="main-content">
    <div class="main-content__cards">
      <% @log.each do |log| %>
        <%= render partial: 'log', locals: { log: log } %>
      <% end %>
      <%= paginate(@log) %>
    </div>
    <% if user_signed_in? %>
      <%= render 'layouts/sidebar' %>
    <% else %>
      <%= image_tag "tennis-arena.jpg", width: 440 %>
    <% end %>
  </div>
</div>
