<br><h5>練習日：<%= @log.practice_day.strftime('%Y/%m/%d') %><h5>
<%= render partial: "layouts/graph", locals: { graph: @graph } %><br>

<p><%= @log.text %></p><br>
<p><%= image_tag @log.image.to_s %></p><br>

<div class="container">
  <% if current_user %>
    <%= form_with model:[@log, @comment], local: true do |f| %>
      <%= f.text_area :text, class: "form-control", placeholder: "コメントを入力…" %><br>
      <%= f.submit "送信", class: "btn btn-primary btn-lg" %>
    <% end %>
  <% end %>
</div><br>

<div class="comments">
  <div class="comments__header">
    <h4>＜コメント一覧＞</h4>
  </div>
  <div class="comments__body">
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
          <% if user_signed_in? && comment.user_id == current_user.id %>
            <%= link_to log_comment_path(@log, comment), method: :delete do %>
              <i class="fa fa-times-circle"></i>
            <% end %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>