<%= link_to '一覧へ戻る', "/" %>
<%= render partial: "layouts/graph", locals: { graph: @graph } %>
<p><%= @log.text %></p>
<p><%= image_tag @log.image.to_s %></p>
<p><%= @log.created_at.strftime('%Y/%m/%d %H:%M') %></p>
<% if current_user %>
  <%= form_with model:[@log, @comment], local: true do |f| %>
    <%= f.label "コメント" %>
    <br>
    <%= f.text_area :text, cols: "60" %>
    <%= f.submit "送信" %>
  <% end %>
<% end %>

<div class="comments">   
  <h4>＜コメント一覧＞</h4>
  <% if @comments %>
    <% @comments.each do |comment| %>
      <p>
        <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
        <%= comment.text %>
        <% if user_signed_in? && comment.user_id == current_user.id %>
        <%= link_to "[×]", log_comment_path(@log, comment), method: :delete %>
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>