<div class="practice">
  <div class="practice-info">
    <h4><%= link_to "投稿者：＜#{@log.user.name}＞", user_path(@log.user_id), class: "practice-person" %></h4>
    <h5>練習日：<%= @log.practice_day %></h5>
    <h5>合計練習時間：<%= @graph.sum %>分</h5>
  </div>

  <%= render partial: 'graph', locals: { graph: @graph } %><br>

  <% if @log.image.present? %>
    <div class="practice-image">
      <%= image_tag @log.image.to_s, size: "400x500" %>
    </div><br>
  <% end %>

  <div class="practice-main">
    <div class="practice-memo">
      <h4 class="practice-memo__header">＜テニスノート＞</h4>
      <p class="practice-memo__body"><%= @log.text %></p>
    </div><br>

    <div class="comment-wrapper">
      <div class="comment-form">
        <% if current_user %>
          <%= form_with model:[@log, @comment], id: "new_comment", local: true do |f| %>
            <%= f.text_area :text, class: "comment-box form-control", placeholder: "コメントを入力…" %><br>
            <%= f.submit "送信", class: "send btn btn-primary btn-lg btn-block" %><br>
          <% end %>
        <% end %>
      </div>
      <div class="comments">
        <div class="comments__header">
          <h4>＜コメント一覧＞</h4>
        </div>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <div class="comments__text" data-comment-id= "<%= comment.id %>">
              <p>
                <strong><%= link_to comment.user.name, user_path(comment.user_id) %>：</strong>
                <%= comment.text %>
                <% if user_signed_in? && comment.user_id == current_user.id %>
                  <%= link_to "", class: "comment-destroy" do %>
                    <i class="fas fa-times-circle"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
