<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="title navbar-brand mb-0 h1" href="/">Tennis Notes</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mr-auto">
        <%= link_to users_path, class: "header-list" do %>
          <i class="fas fa-users"></i> ユーザー一覧 
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <div class="my-page">
            <% if current_user.avatar.present? %>
              <%= link_to  user_path(current_user) do %>
                <%= image_tag "#{current_user.avatar}", class: "my-page__avatar", size: "40x40" %>
                <span class="my-page__name"><%= "#{current_user.name}" %></span>
              <% end %>
            <% else %>
              <%= link_to  user_path(current_user) do %>
                <%= image_tag "user-image.png", size: "40x40" %>
                <span class="my-page__name"><%= "#{current_user.name}" %></span>
              <% end %>
            <% end %>
          </div>
          <%= link_to new_log_path, class: "header-list" do %>
            <i class="fas fa-pen-alt"></i> 新規投稿
          <% end %>
          <%= link_to edit_user_registration_path, class: "header-list" do %>
            <i class="fas fa-user-cog"></i> アカウント編集
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "header-list" do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path, class: "header-list" do %>
            <i class="fas fa-user-plus"></i> 新規登録 
          <% end %>
          <%= link_to new_user_session_path, class: "header-list" do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>
          <div class="easy-login">
            <%= form_for(User.create, url: user_session_path, html: {class: "easy-form", id: "easy-form"}) do |f| %>
              <%= f.hidden_field :email, value: "test@example.com", id: "easy-email" %>
              <%= f.hidden_field :password, value: "123456", id: "easy-password" %>
              <%= f.submit "簡単ログイン", class:"btn btn-dark" %>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
